<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="../assests/css/style.css">  
    <script src="https://kit.fontawesome.com/0eca62e181.js" crossorigin="anonymous"></script>
</head>
<body>

    <header id="header">
        <nav>
            <div class="container">
                <div class="text-center">
                    <a href="/" class="nav-brand text-dark">User Management System</a>
                </div>
            </div>
        </nav>
    </header>

    <!-- Main Site -->
    <main id="site-main">
        <div class="container">
            <div class="box-nav d-flex-justify-between">
                <div class="filter">
                    <a href="/">All Users<i class="fas fa-angle-double-left"></i></a>
                </div>
            </div>

            <div class="form-title text-center">
                <h2 class="text-dark">New User</h2>
                <span class="text-light">Use the below form to create a new account</span>
            </div>

            <!-- Form Handling -->
            <form method="POST" id="update-user">
                <div class="new_user">

                    <div class="form-group">
                        <label for="name" class="text-light">Name</label>
                        <input type="hidden" name="id" value="">
                        <input type="text" name="name" value="" placeholder="Zeshan Munir">
                    </div>
                    
                    <div class="form-group">
                        <label for="Email" class="text-light">Email</label>
                        <input type="text" name="email" value="" placeholder="email@example.com">
                    </div>

                    <div class="form-group">
                        <label for="gender" class="text-light">Gender</label>
                        <div class="radio inline">
                            <input type="radio" name="gender" id="radio2" value="Male">
                            <label for="radio2" class="radio-label">Male</label>
                        </div>
                        <div class="radio inline">
                            <input type="radio" name="gender" id="radio3" value="Female">
                            <label for="radio3" class="radio-label">Female</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="gender" class="text-light">Status</label>
                        <div class="radio inline">
                            <input type="radio" name="status" id="radio4" value="active">
                            <label for="radio4" class="radio-label">Active</label>
                        </div>
                        <div class="radio inline">
                            <input type="radio" name="status" id="radio5" value="inactive">
                            <label for="radio5" class="radio-label">Inactive</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn text-dark update">Save</button>
                    </div>

                </div>
            </form>
            <!-- /Form Handling -->
        </div>
    </main>
    <!-- /Main Site -->

</body>
</html>