<tr>
    <td>1</td>
    <td>Username</td>
    <td>example@email.com</td>
    <td>Male</td>
    <td>Active</td>
    <td>
        <a href="/update-user" class="btn border-shadow update">
            <span class="text-gradient"><i class="fa-solid fa-pencil"></i></span>
        </a>
        <a href="#" class="btn border-shadow delete">
            <span class="text-gradient"><i class="fa-solid fa-trash"></i></i></span>
        </a>
    </td>
</tr>